* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app_link {
  text-decoration: none;
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  padding: 0 5px;
  color: #816fe9;
}

.app-border-radius {
  border-radius: 6px;
}

.app-border {
  border: 1px solid #8481812f;
}

.app-active-route {
  border-bottom: 3px solid #fd7403;
}
.app-pointer {
  cursor: pointer;
}

.app-overflow-hidden {
  overflow: hidden;
}

.app-container {
  padding: 20px 80px;
}

@media (max-width: 600px) {
  .app-container {
    padding: 20px 15px;
  }
}

// ** custom scrollbar ** //

::-webkit-scrollbar {
  width: 0px;
  border: 0px solid #2c2c2c;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #cac8c8;
}
