.app-m-auto {
  margin: auto;
}

.app-m-0 {
  margin: 0;
}

.app-m-1 {
  margin: 4px;
}

.app-m-2 {
  margin: 8px;
}

.app-m-3 {
  margin: 12px;
}

.app-m-4 {
  margin: 16px;
}

.app-m-5 {
  margin: 20px;
}

.app-m-6 {
  margin: 24px;
}

.app-m-7 {
  margin: 28px;
}

.app-m-8 {
  margin: 32px;
}

.app-m-9 {
  margin: 36px;
}

.app-m-10 {
  margin: 40px;
}

.app-m-11 {
  margin: 44px;
}

.app-m-12 {
  margin: 48px;
}

.app-m-13 {
  margin: 52px;
}

.app-m-14 {
  margin: 56px;
}

.app-m-15 {
  margin: 60px;
}

.app-m-16 {
  margin: 64px;
}

.app-mt-auto {
  margin-top: auto;
}

.app-mt-0 {
  margin-top: 0;
}

.app-mt-1 {
  margin-top: 4px;
}

.app-mt-2 {
  margin-top: 8px;
}

.app-mt-3 {
  margin-top: 12px;
}

.app-mt-4 {
  margin-top: 16px;
}

.app-mt-5 {
  margin-top: 20px;
}

.app-mt-6 {
  margin-top: 24px;
}

.app-mt-7 {
  margin-top: 28px;
}

.app-mt-8 {
  margin-top: 32px;
}

.app-mt-9 {
  margin-top: 36px;
}

.app-mt-10 {
  margin-top: 40px;
}

.app-mt-11 {
  margin-top: 44px;
}

.app-mt-12 {
  margin-top: 48px;
}

.app-mt-13 {
  margin-top: 52px;
}

.app-mt-14 {
  margin-top: 56px;
}

.app-mt-15 {
  margin-top: 60px;
}

.app-mt-16 {
  margin-top: 64px;
}

.app-mb-auto {
  margin-bottom: auto;
}

.app-mb-0 {
  margin-bottom: 0;
}

.app-mb-1 {
  margin-bottom: 4px;
}

.app-mb-2 {
  margin-bottom: 8px;
}

.app-mb-3 {
  margin-bottom: 12px;
}

.app-mb-4 {
  margin-bottom: 16px;
}

.app-mb-5 {
  margin-bottom: 20px;
}

.app-mb-6 {
  margin-bottom: 24px;
}

.app-mb-7 {
  margin-bottom: 28px;
}

.app-mb-8 {
  margin-bottom: 32px;
}

.app-mb-9 {
  margin-bottom: 36px;
}

.app-mb-10 {
  margin-bottom: 40px;
}

.app-mb-11 {
  margin-bottom: 44px;
}

.app-mb-12 {
  margin-bottom: 48px;
}

.app-mb-13 {
  margin-bottom: 52px;
}

.app-mb-14 {
  margin-bottom: 56px;
}

.app-mb-15 {
  margin-bottom: 60px;
}

.app-mb-16 {
  margin-bottom: 64px;
}

.app-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.app-mx-1 {
  margin-left: 4px;
  margin-left: 4px;
}

.app-mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.app-mx-3 {
  margin-left: 12px;
  margin-right: 12px;
}

.app-mx-4 {
  margin-left: 16px;
  margin-right: 16px;
}

.app-mx-5 {
  margin-left: 20px;
  margin-right: 20px;
}

.app-mx-6 {
  margin-left: 24px;
  margin-right: 24px;
}

.app-mx-7 {
  margin-left: 28px;
  margin-right: 28px;
}

.app-mx-8 {
  margin-left: 32px;
  margin-right: 32px;
}

.app-mx-9 {
  margin-left: 36px;
  margin-right: 36px;
}

.app-mx-10 {
  margin-left: 40px;
  margin-right: 40px;
}

.app-mx-11 {
  margin-left: 44px;
  margin-right: 44px;
}

.app-mx-12 {
  margin-left: 48px;
  margin-right: 48px;
}

.app-mx-13 {
  margin-left: 54px;
  margin-right: 54px;
}

.app-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.app-my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.app-my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.app-my-3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.app-my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.app-my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-my-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.app-my-7 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.app-my-8 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.app-mr-30 {
  padding-right: 30px;
}
