.p-auto {
  padding: auto;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.app-p-5 {
  padding: 20px;
}

.app-p-6 {
  padding: 24px;
}

.app-p-7 {
  padding: 28px;
}

.app-p-8 {
  padding: 32px;
}

.app-p-9 {
  padding: 36px;
}

.app-p-10 {
  padding: 40px;
}

.app-p-11 {
  padding: 44px;
}

.app-p-12 {
  padding: 48px;
}

.app-p-13 {
  padding: 52px;
}

.app-p-14 {
  padding: 56px;
}

.app-p-15 {
  padding: 60px;
}

.app-p-16 {
  padding: 64px;
}

.app-pt-auto {
  padding-top: auto;
}

.app-pt-0 {
  padding-top: 0;
}

.app-pt-1 {
  padding-top: 4px;
}

.app-pt-2 {
  padding-top: 8px;
}

.app-pt-3 {
  padding-top: 12px;
}

.app-pt-4 {
  padding-top: 16px;
}

.app-pt-5 {
  padding-top: 20px;
}

.app-pt-6 {
  padding-top: 24px;
}

.app-pt-7 {
  padding-top: 28px;
}

.app-pt-8 {
  padding-top: 32px;
}

.app-pt-9 {
  padding-top: 36px;
}

.app-pt-10 {
  padding-top: 40px;
}

.app-pt-11 {
  padding-top: 44px;
}

.app-pt-12 {
  padding-top: 48px;
}

.app-pt-13 {
  padding-top: 52px;
}

.app-pt-14 {
  padding-top: 56px;
}

.app-pt-15 {
  padding-top: 60px;
}

.app-pt-16 {
  padding-top: 64px;
}

.app-pb-auto {
  padding-bottom: auto;
}

.app-pb-0 {
  padding-bottom: 0;
}

.app-pb-1 {
  padding-bottom: 4px;
}

.app-pb-2 {
  padding-bottom: 8px;
}

.app-pb {
  padding-bottom: 12px;
}

.app-pb-4 {
  padding-bottom: 16px;
}

.app-pb-5 {
  padding-bottom: 20px;
}

.app-pb-6 {
  padding-bottom: 24px;
}

.app-pb-7 {
  padding-bottom: 28px;
}

.app-pb-8 {
  padding-bottom: 32px;
}

.app-pb-9 {
  padding-bottom: 36px;
}

.app-pb-10 {
  padding-bottom: 40px;
}

.app-pb-11 {
  padding-bottom: 44px;
}

.app-pb-12 {
  padding-bottom: 48px;
}

.app-pb-13 {
  padding-bottom: 52px;
}

.app-pb-14 {
  padding-bottom: 56px;
}

.app-pb-15 {
  padding-bottom: 60px;
}

.app-pb-16 {
  padding-bottom: 64px;
}

.app-px-auto {
  padding-left: auto;
  padding-right: auto;
}

.app-px-1 {
  padding-left: 4px;
  padding-left: 4px;
}

.app-px-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.app-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.app-px-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.app-px-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.app-px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.app-px-7 {
  padding-left: 28px;
  padding-right: 28px;
}

.app-px-8 {
  padding-left: 32px;
  padding-right: 32px;
}

.app-py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.app-py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.app-py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.app-py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.app-py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.app-py-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.app-py-7 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.app-py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.app-py-9 {
  padding-top: 46px;
  padding-bottom: 46px;
}

.app-py-10 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.app-p-l-20 {
  padding-left: 20px;
}
