.app-wh-full {
  height: 100vh;
  width: 100%;
}

.app-h-auto {
  height: auto;
}

.app-h-0 {
  height: 0;
}

.app-h-fullscreen {
  height: 100vh;
}

.app-h-midscreen {
  height: 50vh;
}

.app-h-50-px {
  height: 50px;
}

.app-h-0 {
  height: 0;
}

.app-h-10 {
  height: 10vh;
}

.app-h-5 {
  height: 5vh;
}

.app-h-25 {
  height: 25vh;
}

.app-h-50 {
  height: 50vh;
}

.app-h-75 {
  height: 75vh;
}

.app-h-80 {
  height: 80vh;
}

.app-h-90 {
  height: 90vh;
}

.app-h-95 {
  height: 95vh;
}

.app-h-100 {
  height: 100vh;
}

.app-w-auto {
  width: auto;
}

.app-w-0 {
  width: 0;
}

.app-w-0 {
  width: 0;
}

.app-w-5 {
  width: 5%;
}

.app-w-10 {
  width: 10%;
}

.app-w-25 {
  width: 25%;
}

.app-w-30 {
  width: 30%;
}

.app-w-40 {
  width: 40%;
}

.app-w-50 {
  width: 50%;
}

.app-w-60 {
  width: 60%;
}

.app-w-75 {
  width: 75%;
}

.app-w-90 {
  width: 90%;
}

.app-w-95 {
  width: 95%;
}

.app-w-100 {
  width: 100%;
}

.app-w-200 {
  width: 200px;
}

.app-w-300 {
  width: 300px;
}

.app-coin-card-width {
  width: 300px;
}
