:root {
  --primary-: #545454;
  --secondary-: #265e02;
  --danger-: #ff3333;
  --gray-: #e7e7e7;
  --light-: #fcfcfc93;
  --white-: #ffffff;
  --dark-: #181818;
  --info-: #088ffd;
  --warning-: yellow;
}
