:root {
  --primary-: #ffa500;
  --secondary-: #e5f6da;
  --gray-: #7d7d7d;
  --white-: #ffffff;
  --danger-: #ff3333;
  --light-: #e9e9e9;
  --dark-: #202020;
  --info-: #0066ff;
  --warning-: yellow;

  --primary-custom-: #1a0e31;
  --secondary-custom-: #100623;
}
