:root {
  --primary-: #525252;
  --secondary-: #f6fff0;
  --gray-: #929292;
  --white-: #ffffff;
  --danger-: #ff3333;
  --light-: #fcfcfc93;
  --dark-: #181818;
  --info-: #088ffd;
  --warning-: yellow;
}
