@import "../variables/theme_colors";

.bg-primary-100 {
  background: var(--primary-100-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-200 {
  background: var(--primary-200-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-300 {
  background: var(--primary-300-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-400 {
  background: var(--primary-400-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-500 {
  background: var(--primary-500-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-500 {
  background: var(--primary-500-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-600 {
  background: var(--primary-600-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-700 {
  background: var(--primary-700-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-800 {
  background: var(--primary-800-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-900 {
  background: var(--primary-900-);
  color: var(--white-);
  transition: 0.5s;
}

.app-bg-secondary {
  background: var(--secondary-);
  color: var(--dark-);
  transition: 0.5s;
}

.bg-warning-100 {
  background: var(--warning-100-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-200 {
  background: var(--warning-200-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-300 {
  background: var(--warning-300-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-400 {
  background: var(--warning-400-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-500 {
  background: var(--warning-500-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-600 {
  background: var(--warning-600-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-700 {
  background: var(--warning-700-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-800 {
  background: var(--warning-800-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-900 {
  background: var(--warning-900-);
  color: var(--black-);
  transition: 0.5s;
}

.app-bg-danger {
  background: var(--danger-);
  color: var(--white-);
  transition: 0.5s;
}
.app-bg-gray {
  background: var(--gray-);
  transition: 0.5s;
}
.app-bg-light {
  background: var(--light-);
  color: var(--dark-);
  transition: 0.5s;
}
.app-bg-white {
  background: var(--white-);
  color: var(--dark-);
  transition: 0.5s;
}
.app-bg-dark {
  background: var(--dark-);
  color: var(--white-);
  transition: 0.5s;
}
.app-bg-info {
  background: var(--info-);
  color: var(--white-);
  transition: 0.5s;
}
.app-bg-green {
  background: var(--green-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-100-100-custom {
  background: var(--primary-custom-);
  color: var(--white-);
  transition: 0.5s;
}

.app-bg-secondary-custom {
  background: var(--secondary-custom-);
  color: var(--white-);
  transition: 0.5s;
}

.app-bg-element-dark {
  background: var(--element-dark-);
  color: var(--white-);
  transition: 0.5s;
}
