@import "../variables/font_sizes";

.app-font-size-10 {
  font-size: $--f-s-10;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-12 {
  font-size: $--f-s-12;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-14 {
  font-size: $--f-s-14;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-16 {
  font-size: $--f-s-16;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-18 {
  font-size: $--f-s-18;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-20 {
  font-size: $--f-s-20;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-22 {
  font-size: $--f-s-22;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-24 {
  font-size: $--f-s-24;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-26 {
  font-size: $--f-s-26;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-28 {
  font-size: $--f-s-28;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-30 {
  font-size: $--f-s-30;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-32 {
  font-size: $--f-s-32;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-34 {
  font-size: $--f-s-34;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-36 {
  font-size: $--f-s-36;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-38 {
  font-size: $--f-s-38;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-40 {
  font-size: $--f-s-40;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-42 {
  font-size: $--f-s-42;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.app-font-size-44 {
  font-size: $--f-s-44;
  line-height: 2;
  letter-spacing: 0.009375em;
}
