@font-face {
  font-family: "yekanBakh";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
  // url('/public/fonts/iranyekan.eot') format('eot'),
  // url('/public/fonts/iranyekan.woff') format('woff'),
  // url('/public/fonts/iranyekan.ttf') format('truetype'),
    url("/public/fonts/YekanBakhFaNum-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "yekanBakh";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: 
  // url('/public/fonts/iranyekan.eot') format('eot'),
  // url('/public/fonts/iranyekan.woff') format('woff'),
  // url('/public/fonts/iranyekan.ttf') format('truetype'),
    url("/public/fonts/YekanBakhFaNum-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "yekanBakh";
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: 
  // url('/public/fonts/iranyekanbold.eot') format('eot'),
  // url('/public/fonts/iranyekanbold.woff') format('woff'),
  // url('/public/fonts/iranyekanbold.ttf') format('truetype'),
    url("/public/fonts/YekanBakhFaNum-Bold.woff2") format("woff2");
}
