* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "yekanBakh";
}

@import url(./font_faces.scss);
@import url(./background.scss);
@import url(./color.scss);
@import url(./flex.scss);
@import url(./fontSizes.scss);
@import url(./fontWeight.scss);
@import url(../variables/animations.scss);
@import url(../variables/global.scss);
@import url(../variables/margin.scss);
@import url(../variables/padding.scss);
@import url(../variables/sizing.scss);
